.about-section {
    padding: 130px 0 90px;
    background: #16151a;
    border-bottom: 1px solid #222227;
}

.imgone.big-paral .simpleParallax {
    background: #000000;
    min-height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.imgtwo.big-paral .simpleParallax {
    background: #000000;
    min-height: 471px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.imgone.big-paral::before {
    position: absolute;
    z-index: 1;
    content: '';
    width: calc(50% + 10px);
    height: calc(50% + 10px);
    border: none;
    background-image: -webkit-linear-gradient(
        45deg,
        #6164FF 15%,
        #898bff 65%
    );
    background-image: linear-gradient(
        45deg,
        #6164FF 15%,
        #898bff 65%
    );
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.4s;
    transition-property: opacity, transform;
    top: -5px;
    right: initial;
    bottom: initial;
    left: -5px;
    box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    border-radius: 12px;
}

.imgtwo.big-paral {
    position: relative; /* لجعل العنصر مرجعًا لـ ::before */
    z-index: 0; /* لضمان أن ::before سيكون خلف العنصر */
}

.imgtwo.big-paral::before {
    position: absolute;
    z-index: -1; /* وضع ::before خلف العنصر */
    content: '';
    width: calc(50% + 10px);
    height: calc(50% + 10px);
    border: none;
    background-image: -webkit-linear-gradient(
        45deg,
        #898bff 15%,
        #6164FF 65%
    );
    background-image: linear-gradient(
        45deg,
        #898bff 15%,
        #6164FF 65%
    );
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.4s;
    transition-property: opacity, transform;
    bottom: -5px; /* نفس الموضع كما في imgone */
    right: -5px;
    box-shadow: 0 0 10px #000;
    border-radius: 12px;
}

.simpleParallax {
    position: relative;
    z-index: 3;
}

h4.about-heading1-home {
    font-size: 14px;
    color: #bdbdbd;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}

h4.about-heading1-home::before {
    content: '';
    width: 20px;
    height: 1px;
    background: #696970;
    display: inline-block;
    position: relative;
    bottom: 5px;
    margin-right: 10px;
}

.rtl h4.about-heading1-home::before {
    margin-right: 0px;
    margin-left: 10px;
}

.about-heading2-home {
    font-size: 42px;
    line-height: 51px;
    font-weight: 500;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 35px;
}

.btn.btn-style1 {
    display: block;
    white-space: nowrap;
    color: #fff;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    background-color: #5BDFE4;
    border-radius: 12px;
    padding: 0 35px;
    display: inline-block;
    height: 50px;
    min-width: 100px;
    line-height: 50px;
    margin: 15px 0px;
    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    margin-right: 30px;
}

.rtl .btn.btn-style1 {
    margin-right: 0px;
    margin-left: 30px;
}

.btn.btn-style1:hover {
    background-color: #222227;
}

.btn.btn-style1 span.button-text {
    display: inline-block;
    font-weight: 600;
}

.about-section p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #bdbdbd;
}

.pictures-row {
    padding-right: 30px;
}

.rtl .pictures-row {
    padding-right: 0px;
    padding-left: 30px;
}

.imgone.big-paral {
    position: relative;
    top: -40px;
}

.exp-about {
    padding-left: 30px;
    margin-top: 20px;
}

h5.nmb-font-about {
    font-size: 42px;
    line-height: 1;
    font-weight: 500;
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
}

h3.about-heading2-home span {
    color: #6164ff;
}

h6.service_summary-about {
    font-size: 14px;
    color: #bdbdbd;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 0px;
    margin-left: -27px;
}

h6.service_summary-about::before {
    content: '';
    width: 20px;
    height: 1px;
    background: #696970;
    display: inline-block;
    position: relative;
    bottom: 5px;
    margin-right: 10px;
}

.rtl h6.service_summary-about::before {
    margin-right: 0px;
    margin-left: 10px;
}

.card-parent {
    padding: 10px;
}

.card.featured.to-top-left h4.heading i {
    color: #6164ff;
    padding-right: 5px;
}

.rtl .card.featured.to-top-left h4.heading i {
    padding-right: 0px;
    padding-left: 5px;
}

.card.featured.to-top-left {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 35px;
    border-radius: 12px;
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.4s;
    transition-property: opacity, transform;
    padding: 40px 20px 20px;
    border: 1px solid #222227;
    background-color: #16151a;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    transition: all 600ms ease;
    -webkit-transition: all 600ms ease;
}

.card.featured.to-top-left:hover {
    border-color: rgb(97 100 255 / 70%);
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
}

.card.featured.to-top-left h4.heading {
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0px;
}

.heading-wrapper {
    margin: 0 0 15px;
}

.card.featured.to-top-left p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #bdbdbd;
    margin-bottom: 10px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.image-wrapper.to-bottom {
    margin: 15px 0 0;
}
